@model IEnumerable<CarInsurance.Models.Insuree>

@{
    ViewBag.Title = "Admin";
}

<h2>Admin View</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Insuree")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quote)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quote)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Insuree", new { id=item.Id }, null) |
            @Html.ActionLink("Details", "Details", "Insuree", new { id=item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Insuree", new { id=item.Id }, null)
        </td>
    </tr>
}

</table>
